.results-list {
    list-style: none;
    display: flex;
    overflow-x: auto;
    /* Enable horizontal scroll */
    width: 95%;
    margin: 20px;
}

.result-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: darkred;
    margin: 10px
}

.result-item p {
    margin: 0;
}