.logo-link {
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo-basket {
        animation: App-logo-spin infinite 60s linear;
    }
}

.appbar {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 10vh;
    position: sticky;
    top: 0;
}

.grid-container {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 7vh;
    background: orange;
    clip-path: polygon(4% 0, 96% 0, 94% 100%, 6% 100%);
}

.grid-item {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.grid-item .MuiButton-root {
    background: #E36414;
}